@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Wojciech Jasiczek<br />
    Stargard Szczecinski (Poland)<br />
    <abbr title="Phone">P:</abbr>
    +48 609 910 304
</address>

<address>
    <a href="mailto:wo.jasiczek@gmail.com">wo.jasiczek@gmail.com</a><br />
</address>